.form_container {
    flex-grow: 1;
    min-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 100px;
}

.form_container input[type='submit'] {
    border-radius: 8px;
    background-color: #EA1D2C;
    color: rgb(255, 255, 255);
    border: none;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
}

.form_container input[type='submit']:hover {
    background-color: #EF5753;

}

.form_container input[type='submit']:active {
    background-color: #C41835;

}

.form_container p {
    margin-top: 1em;
}

.form_container p a {
    color: #16479d;
    font-weight: bold;
}

.form_container h1 {
    color: #3E3E3E;
}