.form_control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
}

.form_control_login {

}

.form_control label {
    margin-bottom: .1em;
    font-size: 1.3em;
    color: #3E3E3E;   
}

.form_control input {
    all: unset;
    padding: .7em;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin-bottom: .9em;
    height: 35px;
    font-size: 1.2em;

}

.form_control input:focus {
    border: 2.5px solid #EA1D2C;
}

.form_control input::placeholder {
    color: #717171;

}